.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7); /* Затемнение фона */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9998; /* Убедитесь, что он ниже, чем modalContent */
}

.modal {
  font-size: 2.5rem;
  background-color: #a4d2f9;
  border-radius: 40px;
  box-shadow:
    0px 24px 32px rgba(0, 0, 0, 0.04),
    0px 16px 24px rgba(0, 0, 0, 0.04),
    0px 4px 8px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  
  /* Уберите фиксированное позиционирование */
  margin: auto;
  padding: 100px 100px 130px;
}

.modalContent {
  position: relative;
  display: grid;
  gap: 20px;
}

.closeButton {
  position: absolute;
  top: -75px;
  right: -60px;
}
